html{-webkit-text-size-adjust:none}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit}
del,ins{text-decoration:none}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup,sub{vertical-align:baseline}
legend{color:#000}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
textarea{resize:vertical}
input,select{vertical-align:middle}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;margin:0}
cite,em{font-style:normal}
.clear{clear:both;height:0;margin:0;padding:0;font-size:15px;line-height:1px}
.clearfix:after,.content:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
:focus{outline:0}
a{color:#585858;}
a:link,a:visited{color:#585858;text-decoration:none}
body{font-family: tahoma,Helvitica,Verdana,arial,Microsoft Yahei,sans-serif}
img{border:0;vertical-align:middle}
fieldset{border:0}
input[type=radio]{padding:.3em}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display: block;}
audio,canvas,progress,video {
display: inline-block; /* 1 */
vertical-align: baseline; /* 2 */
}
.fl{float:left;}
.fr{float:right;}
.txtCenter{text-align:center;}
.indent2{text-indent:2em;}

body,html{height:100%;}
.listMain{padding:20px;background:#fff;}